.recipe {
    background-color: rgb(255, 238, 216);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

#heading {
    color: rgb(37, 210, 253);
}